In [173]:
# dependencies/lib files
from splinter import Browser
from bs4 import BeautifulSoup
import requests, time
import pandas as pd

In [158]:
# set up browser for scrapping

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)

In [159]:
# define website and start scraping
url = "https://mars.nasa.gov/news/"
browser.visit(url)

# Retrieve page with the requests module
# response = requests.get(url)
html = browser.html

# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(html)


#print(soup.prettify())

# Scraping the Mars News

In [160]:
 # scrape news headline
titles = soup.find_all(class_='content_title')

news_title = titles[1].text
print(news_title)

Hear Audio From NASA's Perseverance As It Travels Through Deep Space

In [163]:
 # scrape news teaser text
teasers = soup.find(class_="article_teaser_body")
news_teaser = teasers.text
print(news_teaser)

The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.

# Scraping the Mars Space Images

In [164]:
# define website and start scraping
url = "https://www.jpl.nasa.gov/spaceimages/"
browser.visit(url)

# Retrieve page with the requests module
# response = requests.get(url)
html = browser.html

# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(html)


#print(soup.prettify())

In [165]:
 # the page image
links_found = browser.find_by_id('full_image')
print(links_found)
    
#links_found.click()
    
#image = soup.find("img", class_='content_title')

#print(image)

<splinter.element_list.ElementList object at 0x0000025C2851D320>

In [166]:
links_found.click()
time.sleep(1)

In [167]:
# Create BeautifulSoup object; parse with 'html'
html = browser.html
soup = BeautifulSoup(html)

In [171]:
image_file = soup.select(".fancybox-image")
#image_file = soup.select("#fancybox-lock")

#print(image_file)
image_url = image_file[0]['src']
print (image_file[0]['src'])
print (image_url)

/spaceimages/images/mediumsize/PIA18903_ip.jpg
/spaceimages/images/mediumsize/PIA18903_ip.jpg

In [172]:
# create real url for the image
root_url = "https://www.jpl.nasa.gov"
featured_image_url = root_url + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18903_ip.jpg

# Scraping the Mars Facts

In [176]:
# define website and start scraping
url = "https://space-facts.com/mars/"
browser.visit(url)

html = browser.html

# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(html)

#print(soup.prettify())

In [177]:
# see what tables were pulled into pandas
tables = pd.read_html(html)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [178]:
mars_df = tables[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [180]:
mars_df = mars_df.rename(columns={0:"Metrics", 1:"Mars"})
mars_df

                Metrics                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [181]:
# convert Mars DF to html string
result = mars_df.to_html()
print(result)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Metrics</th>
      <th>Mars</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Scraping the Mars Facts

In [183]:
# define website and start scraping
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

html = browser.html

# Create BeautifulSoup object; parse with 'html'
soup = BeautifulSoup(html)

# print(soup.prettify())